<!DOCTYPE html>
<html>
    <head>
        <title> Contact List </title>
    </head>

    <body>
        <h1> Contact List </h1>

        <form action="/personal" method="GET">
            <button> Personal Contacts </button>
        </form>

        <form action="/business" method="GET">
            <button> Business Contacts </button>
        </form>
    </body>
</html>